language: java
jdk: oraclejdk8
sudo: false
install: true
addons:
  sonarcloud:
    organization: "dansiviter-github"
    token:
      secure: $SONAR_TOKEN
script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
